@font-face {
    font-family: 'source-pro';
    src: url(./source-sans-pro/SourceSansPro-Regular.otf);
}
:root{
    --text-color:#fff;
    --primary-color:#FF6565;
    --scondary-color:#071629;
    --fs-lg:4.6rem;
    --fs-md:3.2rem;
    --fs-sm:1.6rem;
}
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source-pro';
    font-weight: 400;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: var(--text-color);
    display:inline-block;
}
img{
    display: block;
}
ul{
    list-style: none;
}
section{
    padding: 8rem 0;
}
/* === UTILITIES */
.card{
    text-align: center;
    cursor: pointer;
}
.card__img{
    width: 5rem;
    height:5rem ;
    margin: auto;
}
.card__title{
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: 600;
    color: var(--scondary-color);
}
.card__desc{
    font-size: 1.4rem;
    color: var(--scondary-color);
}
.container{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}
.btn{
    padding: 1.2rem 3.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 3rem;

}
.btn--cta{
    background-color: var(--primary-color);

}
.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col{
    flex: 0 0 20rem;
    justify-self: center;
}

.section__header{
max-width: 65rem;
text-align: center;
margin: 0 auto 7rem auto;
color: var(--scondary-color);
}
.section__header h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.section__header p{
    font-size: 1.6rem;
    line-height: 1.5;
}



/* ===END OF UTILITIES */




/* === HEADER STYLES === */
.header{
    min-height: 100vh;
    background: url(./images/background_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
}
.navbar__brand__open{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap:4rem;
}
.navbar__toggler{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 35px;
    cursor: pointer;
}
.navbar__toggler .line{
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    transform: all .4s;
}
.navbar__toggler .line.middle{
    width: 25px;
}
.navbar__toggler.active .line.middle{
    opacity: 0;
}
.navbar__toggler.active .line.top{
    transform: translateY(10px) rotate(-45deg);
}
.navbar__toggler.active .line.bottom{
    transform: translateY(-10px) rotate(45deg);
}
.navbar__brand{
    width: 16rem;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.navbar__link{
    font-size: 1.2rem;
}
.navbar__list-item.active a{
    color: var(--primary-color);
    font-weight: 600;
}
.intro__section{

    max-width: 65rem;
    width: 100%;
    margin:15rem auto 0 auto;
    text-align: center;
    color: var(--text-color);
}
.intro__title{
 font-weight: 700;
 font-size: var(--fs-md);
 margin-bottom: 0.5rem;   
}
.intro__sub-title{
    margin-bottom: 1rem; 
    font-size: 1.2rem;  
    margin-bottom: 3rem;

}
.intro__desc{
    margin-top: 3rem;
font-size: 1.6rem;
line-height: 1.5;
}
/* === END OF HEADER STYLES === */

/*  === RESULTS STYLE === */
.results__section{
    background: url(./images/background_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}
.results__section .section__header{
    color: var(--text-color);
}
.results__section .flex-col{
    flex-basis: 19rem;
    height: 19rem;
}
.pentagon{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    color: var(--text-color);
    position: relative;
}
.pentagon__img{
    height: 100%;
    width: 100%;
}
.pentagon__text{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.pentagon__title{
font-size: var(--fs-lg);
font-weight: 700;
margin-bottom: .8rem;
    
}
.pentagon__desc{
font-size: 1.4rem;
}